/**************
*   General   *
**************/

* {
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}

body {
	background-color: rgb(255, 255, 255);
	/*--common_area_background_color: white;*/

	--size_adjustment: 1.5;
	--text_scalar: 1;
}

h1, h2, h3, h4 /* eslint-disable-line */ {
	font-family: Didot, Calibri, Candara, sans-serif;
}

nav {
	font-family: Verdana, Calibri, Candara, sans-serif;
}

.error {
	margin-top: 10px;
	display: inline;
	padding: 5px 20px;
	border-radius: 30px;
	font-size: 10px;
	background-color: #d9534f;
	color: #fff;
}

@media only screen and (min-width: 1px) and (max-width: 960px) {
	body {
		--text_scalar: 0.8;
	}
}

/**************
*   Section   *
**************/

section {
	margin: 4% 10%;
}

section h1 {
	font-size: 50px;
	font-weight: bold;
}

section h2 {
	font-size: 35px;
}

section p,
select,
label {
	font-size: 18px;
	text-align: justify;
	font-family: Optima, sans-serif;
}

img {
	width: 50%;
}

#githubIcon {
	width: 10%;
}

/*#audiotIcon {
  width: 1.6%;
}

#audiotLogo {
  width: 9%;
  transform: translateY(1px);
}*/

/*************
*   Footer   *
*************/

footer {
	display: flex;
	color: grey;
	flex-flow: row wrap;
	padding: 10px;
	width: 100%;
	background-color: rgb(247, 247, 247);
}

footer div {
	width: calc(100% / 3);
}

footer h2 {
	text-transform: uppercase;
	font-size: calc(19px * var(--text_scalar));
	letter-spacing: 2px;
	font-family: Optima, Tahoma, Trebuchet, Arial, sans-serif;
}

footer li {
	font-size: 12px;
	font-family: Arial, "Courier New", sans-serif, serif;
	height: 100%;
	list-style-type: none;
}

/********************
*   Media Screens   *
********************/

@media only screen and (min-width: 1px) and (max-width: 960px) {
	section p {
		font-size: 15px;
	}

	img {
		width: 80%;
	}
}
