/**************
*   Section   *
**************/

section {
	
}

section p {
	font-size: 25px;
}

section img {

}

/************
*   Aside   *
************/

aside {

}

/**************
*   Article   *
**************/

article{
  
}

#about_p {
	font-size: 15px;
	margin: 0 10%;
}