/*************
*   Footer   *
*************/

footer {
    display: flex;
    color: grey;
    flex-direction: row;
    padding-top: 10px;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

footer div {
    width: calc(100% / 3);
}

footer h2 {
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 2px;
    font-family: Optima, Tahoma, Trebuchet, Arial, sans-serif;
}

footer ul {
    position: relative;
    left: -19px;
}

footer li {
    font-size: 12px;
    font-family: Arial, "Courier New", sans-serif, serif;
}

/********************
*	Media Screens   *
********************/

/* Tablet Styles */
@media only screen and (min-width: 1px) and (max-width: 960px) {
    section p {
        font-size: 15px;
    }

    img {
        width: 80%;
    }

    .quote {
        width: 80%;
    }
}